
.handsfree-canvas {
    width: 50% !important; 
}

/* Webcam starts */

.webcam {
    display: inline-block;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  display: inline-block;
  position: absolute;
}

.dot::before,.dot::after{
    content:'';
    position:absolute;
    background-color: #bbb;
}

.dot:before{
    left: -70px;
    width: 140px;
    height: 5px;
}
.dot:after{
    top: -70px;
    width: 5px;
    height: 140px;
}

/* Webcam ends */

/* button starts */
button {
    transition-duration: 0.3s;
    transition-timing-function: linear;
    width: 150px;
    height: 50px;
}

button:hover {
    transform: scale(1.2)
}
/* button ends */
