/* #my-video {
    width: 200px;
    height: 200px;
    background-color: #555;
} */

.handsfree-canvas {
    width: 50% !important; 
}

.webcam {
    display: inline-block;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  display: inline-block;
  position: absolute;
}

.dot::before,.dot::after{
    content:'';
    position:absolute;
    background-color: #bbb;
}

div:before{
    left: -70px;
    width: 140px;
    height: 5px;
}
div:after{
    top: -70px;
    width: 5px;
    height: 140px;
}